# Chapter 4

## Categoricals and groupby

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# data prep
from urllib.request import urlretrieve
file = 'titanic.csv'
url = 'https://assets.datacamp.com/production/course_1650/datasets/{}'.format(file)
urlretrieve(url, file)

titanic = pd.read_csv(file)

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

In [6]:
titanic.shape

(1309, 14)

In [8]:
# Group titanic by 'pclass'
by_class = titanic.groupby('pclass')

# Aggregate 'survived' column of by_class by count
count_by_class = by_class['survived'].count()

# Print count_by_class
print(count_by_class)

# Group titanic by 'embarked' and 'pclass'
by_mult = titanic.groupby(['embarked', 'pclass'])

# Aggregate 'survived' column of by_mult by count
count_mult = by_mult['survived'].count()

# Print count_mult
print(count_mult)

pclass
1    323
2    277
3    709
Name: survived, dtype: int64
embarked  pclass
C         1         141
          2          28
          3         101
Q         1           3
          2           7
          3         113
S         1         177
          2         242
          3         495
Name: survived, dtype: int64

In [23]:
# data prep
file = 'gapminder_tidy.csv'
url = 'https://assets.datacamp.com/production/course_1650/datasets/{}'.format(file)
urlretrieve(url, file)
gapminder = pd.read_csv(file, index_col='Country')

life_fname = 'https://s3.amazonaws.com/assets.datacamp.com/production/course_1650/datasets/life_expectancy.csv'
regions_fname = 'https://s3.amazonaws.com/assets.datacamp.com/production/course_1650/datasets/regions.csv'

In [11]:
# Read life_fname into a DataFrame: life
life = pd.read_csv(life_fname, index_col='Country')

# Read regions_fname into a DataFrame: regions
regions = pd.read_csv(regions_fname, index_col='Country')

# Group life by regions['region']: life_by_region
life_by_region = life.groupby(regions['region'])

# Print the mean over the '2010' column of life_by_region
print(life_by_region['2010'].mean())

region
America                       74.037350
East Asia & Pacific           73.405750
Europe & Central Asia         75.656387
Middle East & North Africa    72.805333
South Asia                    68.189750
Sub-Saharan Africa            57.575080
Name: 2010, dtype: float64

## Aggregation

In [15]:
# Group titanic by 'pclass': by_class
by_class = titanic.groupby('pclass')

# Select 'age' and 'fare'
by_class_sub = by_class[['age','fare']]

# Aggregate by_class_sub by 'max' and 'median': aggregated
aggregated = by_class_sub.agg(['max', 'median'])

# Print the maximum age in each class
print(aggregated.loc[:, ('age','max')])

# Print the median fare in each class
print(aggregated.loc[:,('fare', 'median')])

pclass
1    80.0
2    70.0
3    74.0
Name: (age, max), dtype: float64
pclass
1    60.0000
2    15.0458
3     8.0500
Name: (fare, median), dtype: float64

In [18]:
# Read the CSV file into a DataFrame and sort the index: gapminder
gapminder = pd.read_csv('gapminder_tidy.csv', index_col=['Year','region','Country']).sort_index()

# Group gapminder by 'Year' and 'region': by_year_region
by_year_region = gapminder.groupby(level=['Year', 'region'])

# Define the function to compute spread: spread
def spread(series):
    return series.max() - series.min()

# Create the dictionary: aggregator
aggregator = {'population':'sum', 'child_mortality':'mean', 'gdp':spread}

# Aggregate by_year_region using the dictionary: aggregated
aggregated = by_year_region.agg(aggregator)

# Print the last 6 entries of aggregated 
print(aggregated.tail(6))

                                   population  child_mortality       gdp
Year region
2013 America                     9.629087e+08        17.745833   49634.0
     East Asia & Pacific         2.244209e+09        22.285714  134744.0
     Europe & Central Asia       8.968788e+08         9.831875   86418.0
     Middle East & North Africa  4.030504e+08        20.221500  128676.0
     South Asia                  1.701241e+09        46.287500   11469.0
     Sub-Saharan Africa          9.205996e+08        76.944490   32035.0

In [21]:
# Read file: sales
sales = pd.read_csv('sales_ch4.csv', index_col='Date', parse_dates=True)

# Create a groupby object: by_day
by_day = sales.groupby(sales.index.strftime('%a'))

# Create sum: units_sum
units_sum = by_day['Units'].sum()

# Print units_sum
print(units_sum)

Mon    48
Sat     7
Thu    59
Tue    13
Wed    48
Name: Units, dtype: int64

## Groupby and transformation

In [33]:
# data prep
gapminder = pd.read_csv('gapminder_tidy.csv', index_col=['Country']).sort_index()
gapminder.head()

,Year,fertility,life,population,child_mortality,gdp,region
Country,,,,,,,
Afghanistan,1964,7.671,33.639,10474903.0,339.7,1182.0,South Asia
Afghanistan,1965,7.671,34.152,10697983.0,334.1,1182.0,South Asia
Afghanistan,1966,7.671,34.662,10927724.0,328.7,1168.0,South Asia
Afghanistan,1967,7.671,35.170,11163656.0,323.3,1173.0,South Asia
Afghanistan,1968,7.671,35.674,11411022.0,318.1,1187.0,South Asia

In [39]:
gapminder_2010 = gapminder[gapminder['Year'] == 2010]
gapminder_2010.drop(columns='Year')

,fertility,life,population,child_mortality,gdp,region
Country,,,,,,
Afghanistan,5.659,59.612,31411743.0,105.00,1637.0,South Asia
Albania,1.741,76.780,3204284.0,16.60,9374.0,Europe & Central Asia
Algeria,2.817,70.615,35468208.0,27.40,12494.0,Middle East & North Africa
Angola,6.218,50.689,19081912.0,182.50,7047.0,Sub-Saharan Africa
Antigua and Barbuda,2.130,75.437,88710.0,9.90,20567.0,America
Argentina,2.215,75.772,40412376.0,14.60,15765.0,America
Armenia,1.550,74.291,3092072.0,18.00,6508.0,Europe & Central Asia
Aruba,1.701,75.059,107488.0,17.84,33288.0,America
Australia,1.886,82.091,22268384.0,4.80,41330.0,East Asia & Pacific
Austria,1.438,80.595,8393644.0,4.40,42861.0,Europe & Central Asia
Azerbaijan,1.970,70.518,9187783.0,39.00,15950.0,Europe & Central Asia
Bahamas,1.901,74.757,342877.0,13.90,22915.0,America
Bahrain,2.142,76.203,1261835.0,8.30,40553.0,Middle East & North Africa
Bangladesh,2.277,69.449,148692131.0,49.60,2459.0,South Asia
Barbados,1.839,74.875,273331.0,14.70,15297.0,America
Belarus,1.460,69.613,9595421.0,6.10,15703.0,Europe & Central Asia
Belgium,1.842,80.007,10712066.0,4.50,40764.0,Europe & Central Asia
Belize,2.801,73.240,311627.0,19.00,8209.0,America
Benin,5.095,58.797,8849892.0,111.60,1637.0,Sub-Saharan Africa
Bhutan,2.375,67.015,725940.0,42.30,6516.0,South Asia
Bolivia,3.357,66.362,9929849.0,47.00,5279.0,America
Bosnia and Herzegovina,1.242,75.898,3760149.0,7.50,9145.0,Europe & Central Asia
Botswana,2.761,46.588,2006945.0,60.30,13642.0,Sub-Saharan Africa
Brazil,1.838,73.121,194946470.0,16.70,14660.0,America
Brunei,2.051,77.956,398920.0,9.30,70636.0,East Asia & Pacific
Bulgaria,1.485,73.243,7494332.0,13.00,14886.0,Europe & Central Asia
Burkina Faso,5.869,55.081,16468714.0,113.50,1431.0,Sub-Saharan Africa
Burundi,6.304,52.638,8382849.0,98.80,725.0,Sub-Saharan Africa
Cambodia,2.966,70.811,14138255.0,43.10,2513.0,East Asia & Pacific
Cameroon,5.017,53.718,19598889.0,106.00,2571.0,Sub-Saharan Africa
...,...,...,...,...,...,...
Sweden,1.987,81.426,9379687.0,3.10,42898.0,Europe & Central Asia
Switzerland,1.500,82.192,7664318.0,4.50,54183.0,Europe & Central Asia
Syria,3.078,74.693,20410606.0,15.30,6603.0,Middle East & North Africa
Taiwan,0.895,79.150,23025000.0,NaN,39085.0,East Asia & Pacific
Tajikistan,3.780,66.830,6878637.0,52.60,2110.0,Europe & Central Asia
Tanzania,5.428,59.224,44841226.0,62.30,2143.0,Sub-Saharan Africa
Thailand,1.443,73.852,69122234.0,14.50,12822.0,East Asia & Pacific
Timor-Leste,6.237,65.952,1124355.0,63.80,1777.0,East Asia & Pacific
Togo,4.792,55.514,6027798.0,90.90,1246.0,Sub-Saharan Africa
Tonga,3.914,72.209,104058.0,17.40,4945.0,East Asia & Pacific
Trinidad and Tobago,1.802,69.550,1341465.0,23.60,29321.0,America
Tunisia,2.044,75.147,10480934.0,17.40,10411.0,Middle East & North Africa
Turkey,2.101,74.274,72752325.0,19.10,16674.0,Europe & Central Asia
Turkmenistan,2.412,65.000,5041995.0,60.10,10032.0,Europe & Central Asia
Uganda,6.155,57.319,33424683.0,79.50,1515.0,Sub-Saharan Africa
Ukraine,1.435,68.188,45448329.0,11.80,7844.0,Europe & Central Asia
United Arab Emirates,1.868,76.325,7511690.0,8.50,56644.0,Middle East & North Africa
United Kingdom,1.899,80.085,62035570.0,5.20,36240.0,Europe & Central Asia
United States,1.928,78.507,310383948.0,7.40,49373.0,America
Uruguay,2.080,76.787,3368786.0,12.30,17095.0,America
Uzbekistan,2.410,67.871,27444702.0,46.10,4185.0,Europe & Central Asia
Vanuatu,3.499,70.761,239651.0,28.50,2948.0,East Asia & Pacific
Venezuela,2.472,74.159,28979857.0,16.60,16536.0,America
Vietnam,1.820,75.490,87848445.0,24.80,4486.0,East Asia & Pacific
Virgin Islands (U.S.),2.493,79.463,109056.0,11.62,NaN,America
West Bank and Gaza,4.216,72.640,4039192.0,23.80,4163.0,Middle East & North Africa
Western Sahara,2.471,66.844,530500.0,50.71,NaN,Middle East & North Africa
"Yemen, Rep.",4.498,62.536,24052514.0,NaN,NaN,Middle East & North Africa
Zambia,5.813,54.549,13088570.0,84.80,3451.0,Sub-Saharan Africa
Zimbabwe,3.721,53.684,12571454.0,95.10,1484.0,Sub-Saharan Africa

In [44]:
# Import zscore
from scipy.stats import zscore

# Group gapminder_2010: standardized
standardized = gapminder_2010.groupby('region')['life', 'fertility'].transform(zscore)

# Construct a Boolean Series to identify outliers: outliers
outliers = (standardized['life'] < -3) | (standardized['fertility'] > 3)

# Filter gapminder_2010 by the outliers: gm_outliers
gm_outliers = gapminder_2010.loc[outliers]

# Print gm_outliers
print(gm_outliers)

             Year  fertility    life  population  child_mortality     gdp  \
Country
Guatemala    2010      3.974  71.100  14388929.0             34.5  6849.0
Haiti        2010      3.350  45.000   9993247.0            208.8  1518.0
Tajikistan   2010      3.780  66.830   6878637.0             52.6  2110.0
Timor-Leste  2010      6.237  65.952   1124355.0             63.8  1777.0

                            region
Country
Guatemala                  America
Haiti                      America
Tajikistan   Europe & Central Asia
Timor-Leste    East Asia & Pacific

In [48]:
# Create a groupby object: by_sex_class
by_sex_class = titanic.groupby(['sex', 'pclass'])

# Write a function that imputes median
def impute_median(series):
    return series.fillna(series.median())

# Impute age and assign to titanic['age']
titanic.age = by_sex_class.age.transform(impute_median)

# Print the output of titanic.tail(10)
print(titanic.tail(10))

      pclass  survived                                     name     sex   age  \
1299       3         0                      Yasbeck, Mr. Antoni    male  27.0
1300       3         1  Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.0
1301       3         0                     Youseff, Mr. Gerious    male  45.5
1302       3         0                        Yousif, Mr. Wazli    male  28.0
1303       3         0                    Yousseff, Mr. Gerious    male  28.0
1304       3         0                     Zabour, Miss. Hileni  female  14.5
1305       3         0                    Zabour, Miss. Thamine  female  28.0
1306       3         0                Zakarian, Mr. Mapriededer    male  26.5
1307       3         0                      Zakarian, Mr. Ortin    male  27.0
1308       3         0                       Zimmerman, Mr. Leo    male  29.0

      sibsp  parch  ticket     fare cabin embarked boat   body home.dest
1299      1      0    2659  14.4542   NaN        C    C    NaN       NaN
1300      1      0    2659  14.4542   NaN        C  NaN    NaN       NaN
1301      0      0    2628   7.2250   NaN        C  NaN  312.0       NaN
1302      0      0    2647   7.2250   NaN        C  NaN    NaN       NaN
1303      0      0    2627  14.4583   NaN        C  NaN    NaN       NaN
1304      1      0    2665  14.4542   NaN        C  NaN  328.0       NaN
1305      1      0    2665  14.4542   NaN        C  NaN    NaN       NaN
1306      0      0    2656   7.2250   NaN        C  NaN  304.0       NaN
1307      0      0    2670   7.2250   NaN        C  NaN    NaN       NaN
1308      0      0  315082   7.8750   NaN        S  NaN    NaN       NaN

In [49]:
def disparity(gr):
    # Compute the spread of gr['gdp']: s
    s = gr['gdp'].max() - gr['gdp'].min()
    
    # Compute the z-score of gr['gdp'] as (gr['gdp']-gr['gdp'].mean())/gr['gdp'].std(): z
    z = (gr['gdp'] - gr['gdp'].mean())/gr['gdp'].std()
    
    # Return a DataFrame with the inputs {'z(gdp)':z, 'regional spread(gdp)':s}
    return pd.DataFrame({'z(gdp)':z , 'regional spread(gdp)':s})


# Group gapminder_2010 by 'region': regional
regional = gapminder_2010.groupby('region')

# Apply the disparity function on regional: reg_disp
reg_disp = regional.apply(disparity)

# Print the disparity of 'United States', 'United Kingdom', and 'China'
print(reg_disp.loc[['United States','United Kingdom','China']])

                regional spread(gdp)    z(gdp)
Country
United States                47855.0  3.013374
United Kingdom               89037.0  0.572873
China                        96993.0 -0.432756

In [50]:
def c_deck_survival(gr):
    c_passengers = gr['cabin'].str.startswith('C').fillna(False)
    return gr.loc[c_passengers, 'survived'].mean()

# Create a groupby object using titanic over the 'sex' column: by_sex
by_sex = titanic.groupby('sex')

# Call by_sex.apply with the function c_deck_survival and print the result
c_surv_by_sex = by_sex.apply(c_deck_survival)

# Print the survival rates
print(c_surv_by_sex)

sex
female    0.913043
male      0.312500
dtype: float64

In [52]:
# Read the CSV file into a DataFrame: sales
sales = pd.read_csv('sales_ch4.csv', index_col='Date', parse_dates=True)

# Group sales by 'Company': by_company
by_company = sales.groupby('Company')

# Compute the sum of the 'Units' of by_company: by_com_sum
by_com_sum = by_company['Units'].sum()
print(by_com_sum)

# Filter 'Units' where the sum is > 35: by_com_filt
by_com_filt = by_company.filter(lambda g: g['Units'].sum() > 35)
print(by_com_filt)

Company
Acme Coporation    34
Hooli              30
Initech            30
Mediacore          45
Streeplex          36
Name: Units, dtype: int64
                       Company   Product  Units
Date
2015-02-02 21:00:00  Mediacore  Hardware      9
2015-02-04 15:30:00  Streeplex  Software     13
2015-02-09 09:00:00  Streeplex   Service     19
2015-02-09 13:00:00  Mediacore  Software      7
2015-02-19 11:00:00  Mediacore  Hardware     16
2015-02-19 16:00:00  Mediacore   Service     10
2015-02-21 05:00:00  Mediacore  Software      3
2015-02-26 09:00:00  Streeplex   Service      4

In [53]:
# Create the Boolean Series: under10
under10 = (titanic['age'] < 10).map({True: 'under 10', False: 'over 10'})

# Group by under10 and compute the survival rate
survived_mean_1 = titanic.groupby(under10)['survived'].mean()
print(survived_mean_1)

# Group by under10 and pclass and compute the survival rate
survived_mean_2 = titanic.groupby([under10, 'pclass'])['survived'].mean()
print(survived_mean_2)

age
over 10     0.366748
under 10    0.609756
Name: survived, dtype: float64
age       pclass
over 10   1         0.617555
          2         0.380392
          3         0.238897
under 10  1         0.750000
          2         1.000000
          3         0.446429
Name: survived, dtype: float64